:root{
    --green:#94618e;
    --dark-color:#49274A;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: "Gill Sans", sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-thumb{
    background:var(--black);
}
section{
    padding:5rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}
.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background:var(--dark-color);
}
.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}
.header .header-1 .logo i{
    color:var(--green);
}
.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}
.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}
.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}
.header .header-1 .search-form label:hover{
    color:var(--green);
}
.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}
#search-btn{
    display: none;
}
.header .header-2{
    background:var(--green);
}
.header .header-2 .navbar{
    text-align: center;
}
.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}
.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}
.home{
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}
.home .row .content{
    flex:1 1 42rem;
}
.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}
.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}
.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--green);
}
.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}
.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}
.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}
.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}
<!---otvechaet za razmer fotok v malenkih okoshkah --->
.arrivals .arrivals-slider .box .image img{
    height:15rem;
}
<!---otvechaet za razmer texta v malenkih okoshkah --->
.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}
<!---otvechaet za razmer cen v malenkih okoshkah --->
.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}
.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}
.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
}
.deal{
    background:#f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}
.deal .content{
    flex:1 1 42rem;
}
.deal .image{
    flex:1 1 42rem;
}
.deal .image img{
    width: 100%;
}
.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}
.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}
.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}
.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}
.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}
.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}
.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}
.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}
.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}
.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}
.blogs .blogs-slider .box{
    margin:2rem 0;
    border:var(--border);
    text-align: center;
}
.blogs .blogs-slider .box:hover{
    border:var(--border-hover);
    text-align: center;
}
.blogs .blogs-slider .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.blogs .blogs-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-align: center;
}
.blogs .blogs-slider .box .content{
    padding:1.5rem;
    text-align: center;
}
.blogs .blogs-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--black);
    text-align: center;
}
.blogs .blogs-slider .box .content p{
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 2;
    text-align: center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}
.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .box-container .box .map{
    width:100%;
}
.footer .share{
    padding: 2rem 0;
    text-align: center;
}
footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}
